body {
	text-align: center;
	background-color: #FFFFFF;
}

#container {
	text-align: left;
	margin: 10px auto;
	width: 1024px;
	display: table;
}

#headerwrapper {
	display: table-row;
	width: 100%;
	height: 35px;
	border: 1px;
}

.navigationLink {
	color: #004499;
	font-size: 10pt;
}

.navigationLink:hover {
	color: #002244;
	font-size: 10pt;
}

#banner {
	display: table-row;
	background-color: #FFFFFF;
}

#content {
	display: table-row;
	background-color: #F1F1F1;
	border-style: solid;
	border-width: 4px;
	border-color: #000000;
}

#buddyListContainer {
	float: left;
	width: 200px;
}

#registrationFormContainer {
	float: left;
	width: 824px;
}

.topbar {
	display: table-row;
	float: left;
	width: 100%;
	background-color: #000000;
	position: relative;
	padding: 0px 0px 0px 0px;
	text-align: left;
}

#errorLabelContainer {
	display: table-row;
	width: 100%;
}

#loginContainer {
	float: right;
}

.messageform {
	float: left;
}

.footer {
	display: table-row;
	text-align: right;
	font-family: Verdana;
	font-size: 10pt;
}

#navigation {
	float: left;
}

.textfield {
	font-family: Verdana;
	font-size: 10pt;
}

.buttonPane {
	float: right;
	vertical-align: bottom;
}

.button {
	border: 1px solid #006;
	background: #aaaaaa;
	font-size: 10pt;
	cursor: pointer;
}

.button:hover {
	background: #cccccc;
}

space {
	margin-left: 10px;
}

A {
	text-decoration: none;
	font-family: Verdana, sans-serif;
}

A:hover {
	text-decoration: none;
	font-family: Verdana, sans-serif;
}

.sideBarLink {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 11pt;
}

.sideBarLink:hover {
	color: #cccccc;
	font-size: 11pt;
}

.entity {
	margin-top: 9px;
	margin-bottom: 9px;
}

description {
	text-decoration: none;
	font-family: Verdana, sans-serif;
	font-size: 9pt;
}

label {
	font-family: Verdana, sans-serif;
	font-size: 10pt;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.chat-Panel
{	
	width: 330px;
	height: 330px;
	margin: 10px;	
}

.chat-Window
{
	border: solid 0px #333;
	background-color: #FFFFFF;
	width: 100%;
	height: 150px;
}

.chat-MessageArea
{
	min-width: 100%;
	min-height: 90px;
	font-family: Verdana, sans-serif;
	font-size: 10pt;	
}